/* body style start */
@font-face {
    font-family: nofar;
    src: url(./Assets/Fonts/Nofar/Digi\ Nofar\ Bold.ttf);
}
@font-face {
    font-family: peyda;
    src: url(./Assets/Fonts/peyda/Peyda/Peyda-Black.ttf);
    src: url(./Assets/Fonts/peyda/Peyda/Peyda-Bold.ttf);
    src: url(./Assets/Fonts/peyda/Peyda/Peyda-ExtraBold.ttf);
    src: url(./Assets/Fonts/peyda/Peyda/peyda-extralight.ttf);
    src: url(./Assets/Fonts/peyda/Peyda/peyda-light.ttf);
    src: url(./Assets/Fonts/peyda/Peyda/Peyda-Medium.ttf);
    src: url(./Assets/Fonts/peyda/Peyda/Peyda-Regular.ttf);
    src: url(./Assets/Fonts/peyda/Peyda/Peyda-SemiBold.ttf);
    src: url(./Assets/Fonts/peyda/Peyda/Peyda-Thin.ttf);
}
body{
     font-family: peyda;
 }
 /* flower background above the page */
 #logo-img{
    background-image: url(./assets/images/Artboard\ –\ 1.png);
    background-repeat: no-repeat;
    background-size: 450px 80px;
    background-position: center;
    letter-spacing: 50px;
}
 /* header */
#head,nav{
     background-color: #ffcccc;
 }
/* shopping */
#shopping-btn{
    color: black;
    background-color: #ffb8b8;
    padding-top: 15px;
}
#shopping-btn i{
    padding: 10px;
}
#shopping-bag-circle {
    display: inline-block;
    width: 30px;
    height: 30px;
}
/* text */
#brand-slogan{
    font-family: nofar;
}
#brand-slogan h1:nth-child(2){
    color: #8B5158;
}
/* question in the center */
#content-head{
    font-family: nofar;
}
#content-head h1{
    color: #8B5158;
}
/* box */
.card-title{
    font-family: nofar;
    color: #8B5158;
    padding: 10px;
}
/* the dotted element */
#dots{
    width: 40%;
    height: 40%;
    padding-top: 40%;
}
/* footer */
#footer{
    background-color: #ffcccc;
}
.btn-outline-secondary{  
    color: #8B5158;
    border-color: #8B5158;
}
/* @media only screen and (max-width: 768px) {
    #navbar{
        display: none;
    }
    :hover 
  } */